<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webs.mapper.FundMapper">

    <resultMap id="BaseResultMap" type="webs.pojo.Fund">
        <id property="fundId" column="fund_id" jdbcType="INTEGER"/>
        <result property="fundDay" column="fund_day" jdbcType="DATE"/>
        <result property="information" column="information" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
        <result property="fundType" column="fund_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        fund_id, fund_day, information, price, fund_type
    </sql>
</mapper>