<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webs.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="webs.pojo.Goods">
            <id property="goodId" column="good_id" jdbcType="INTEGER"/>
            <result property="goodName" column="good_name" jdbcType="VARCHAR"/>
            <result property="goodPrice" column="good_price" jdbcType="DECIMAL"/>
            <result property="goodStock" column="good_stock" jdbcType="VARCHAR"/>
            <result property="goodType" column="good_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        good_id,good_name,good_price,
        good_stock,good_type
    </sql>
</mapper>
